# Python 3.10+
fastmcp==2.11.3
python-dotenv
requests
pydantic
tinydb
tinydb-serialization
tenacity
beautifulsoup4
pdfplumber
lxml
aiohttp
chardet 
nltk
crawl4ai
transformers
pyyaml
litellm
pandas
jinja2
cohere
omegaconf
diskcache
torch
typer
ipykernel
playwright
datasets
evaluate
scipy
matplotlib